{% extends 'base/base.html' %}

{% block content %}
    <form action="{% block success_url %}{% endblock %}" method="post" class="auth-form">
        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
            </p>
        {% endfor %}
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit">{% block submit_text %}{% endblock %}</button>
        {% csrf_token %}
    </form>
{% endblock %}