{% extends 'base/edit_base.html' %}

{% block edit_nav %}
    <h3>Create a new topic.</h3>
    <p>Topics are a way to express yourself separately from other your main profile.</p>
    <ul>
        <li>
            <h4>Profile Picture & Display name</h4>
            <p>
                These are seperated from your account,
                use them to express yourself in a unique way according to the topic.
                If you leave them empty they will inherit your account
            </p>
        </li>
        <li>
            <h4>Title</h4>
            <p>
                Set a fun name for your topic, express what you want to post about in your topic
                with this unique title
            </p>
        </li>
    </ul>
{% endblock %}