{% extends 'base/edit_base.html' %}

{% if request.user.is_superuser and request.GET.user %}
    {% block edit_before_nav %}
        <select class="form-select {% if not admin_selection %}text-primary border-danger{% endif %}"
                onchange="window.location.href = this.value;" aria-label="Edit Users">
            {% if not admin_selection %}
                <option class="nav-link" selected disabled>Select administration of other users.</option>
            {% else %}
            {% endif %}
            {% for user in users %}
                {% if user.pk == request.user.pk and admin_selection or user.pk != request.user.pk %}
                    <option class="nav-link"
                            {% if admin_selection == user.pk %}
                            selected
                            {% elif user.pk == request.user.pk %}
                            value="{% url 'profile_edit' %}"
                            {% else %}
                            value="{% url 'profile_edit_admin' admin_selection=user.pk %}"
                            {% endif %}>
                        {{ user.profile.display_name }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    {% endblock %}
{% endif %}
