.cursor-pointer {
    cursor: pointer;
}

.hidden_a{
    color: #333; /* Set your desired text color */
    text-decoration: none; /* Remove underline if desired */
}

.errorlist li {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--bs-danger);
}