.navbar-logo {
    height: 44px;
    border-radius: 5px;
}

:root [data-bs-theme="dark"] {
    --navbar-shadow-color: black;
}

:root [data-bs-theme="light"] {
    --navbar-shadow-color: gray;
}

.navbar {
    box-shadow: 0px 0px 8px var(--navbar-shadow-color);
}