{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-center align-content-center flex-column"
         style="height: 100vh; width: 100vw; position: absolute; top:0; left: 0; z-index: -9999;">
        <div class="d-flex justify-content-center align-content-center" style="width: 100vw;">
            <div class="container">
                <div class="row text-center">
                    <h1>We're sad to see you go!</h1>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <h1>Hobby Net</h1>
                    </div>
                    <div class="col">
                        <img src="{% static 'images/logo.png' %}" class="mb-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}