{% load static %}

<div class="card container-sm my-4 px-0">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <a
                    href="{% url 'profile_details' pk=request.user.profile.pk slug=request.user.profile.slug %}?topic={{ topic.pk }}"
                    data-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="View topic {{ topic.title }}">
                <img {% include 'base/display_profile_picture.html' with user=request.user topic=topic %}
                        class="rounded-circle me-2" width="40" height="40">
            </a>
            <h6 class="mb-0 mx-2">
                {% include 'base/display_name.html' with display_name=request.user.profile.display_name topic_display_name=topic.display_name %}
            </h6>
            <h6 class="ms-2 mb-0">create a new post on "{{ topic.title }}"</h6>
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ form.title }}</h4>
        <p class="card-text">{{ form.content }}</p>
{#        {% if post.image %}#}
{#            <img src="{{ post.image.url }}" alt="User Image"#}
{#                 class="img-fluid mx-auto d-block mb-3" style="max-height: 500px;">#}
{#        {% endif %}#}
    </div>
    <div class="card-footer text-muted text-right">
        {{ post.date_created|date:"d M Y H:m" }}
    </div>
</div>
