{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="card container-sm my-4 px-0">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <a
                            {% if topic %}
                                href="{% include 'base/profile_details_url.html' with topic=topic %}"
                                data-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="View topic {{ topic.title }}"{% endif %}>
                        <img {% include 'base/display_profile_picture.html' with user=request.user topic=topic %}
                                class="rounded-circle object-fit-cover me-2" width="40" height="40">
                    </a>
                    <h6 class="mb-0 mx-2">
                        {% include 'base/display_name.html' with display_name=request.user.profile.display_name topic_display_name=topic.display_name %}
                    </h6>
                    <div class="d-flex align-items-center me-2">
                        <h6 class="ms-2 mb-0 me-2 text-nowrap">create a new post on </h6>
                        {{ form.topic }}
                    </div>
                    <div class="ms-auto d-flex align-items-center me-2">
                        <h6 class="me-2 mb-0 text-nowrap">Visibility:</h6>
                        {{ form.visibility }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form.topic.errors }}
                {{ form.visibility.errors }}
                <h4 class="card-title">{{ form.title }}</h4>
                {{ form.title.errors }}
                <p class="card-text">{{ form.content }}</p>
                {{ form.content.errors }}
                <div class="d-none">
                    {{ form.image }}
                    {{ form.image.errors }}
                </div>
                <div class="d-flex mb-5 flex-column">
                    <a id="post-image-icon"
                       class="btn p-0 post-image-icon mb-2"
                       data-toggle="tooltip"
                       data-bs-placement="auto"
                       title="Add Image">
                        <img src="{% static 'images/icons/image_add.svg' %}" alt="Add Image">
                    </a>
                    <a id="post-image-clear"
                       class="btn p-0 post-image-icon"
                       data-toggle="tooltip"
                       data-bs-placement="auto"
                       title="Detach Image" style="display: none;">
                        <img src="{% static 'images/icons/image_remove.svg' %}" alt="Detach Image">
                    </a>
                    <img id="id_image_image" src="{{ post.image.url }}" alt=""
                         class="img-fluid mx-auto d-block mb-3" style="max-height: 500px;">
                </div>
            </div>
            {{ form.errors }}

            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-info px-4 py-2 me-4"
                        type="submit">Post
                </button>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}