<div id="confirmDeleteModal" class="modal fade delete-confirmation" tabindex="-1" role="alertdialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete confirmation</h5>
            </div>
            <div class="modal-body">
                This action cannot be undone.
                Everything will be deleted for the selected object.
                By clicking delete you take full responsibility for the action.
                We will not be able to restore deleted profiles, topics or posts.
            </div>
            <div class="modal-footer">
                <h5 class="ms-auto me-auto">Are you sure?</h5>
                <button type="button" class="btn btn-secondary px-4 py-2 me-4" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger px-4 py-2" id="confirmDeleteButton" name="delete">Delete
                </button>
            </div>
        </div>
    </div>
</div>