{% load static %}

{#Guest URLS#}
{% url 'home' as home_url %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}

{#Profile URLS#}
{% url 'profile_details_self' as profile_url %}
{% url 'home' as make_post_url %}

{% url 'topic_create' as create_topic_url %}

{% static 'images/icons/logout.svg' as logout_image %}

<nav class="navbar navbar-expand-sm mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ home_url }}">
            <img class="d-inline-block align-top navbar-logo" src="{% static 'images/logo.png' %}" alt="Hobby Net">
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav me-auto">
                {% include 'base/navbar_item.html' with href=make_post_url text='Make Post' %}
                {% include 'base/navbar_item.html' with href=create_topic_url text='Make Topic' %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% include 'base/navbar_item.html' with href=profile_url text=request.user.profile %}
                {% include 'base/navbar_item.html' with href=logout_url image=logout_image text='Logout' %}
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto">
                {% include 'base/navbar_item.html' with href=login_url text='Login' %}
                {% include 'base/navbar_item.html' with href=register_url text='Register' %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

{{ text_list }}